# WhatsApp Cloud API
WA_TOKEN=EAFaZArHK6S8wBO3IFktvtaZCbpAZAIbJxrvF12FVZBZC0ZCNnH8pYGZBmRnNwru0usiFgPUllXnmg13ytiZC8QF80Gk3ceZCbg4LPDijraD0VaYMqO0x5ZCHN2toAfOz9Lg1A0apE51FWu2sbnUccjLXsHWa0QQhy4ZBgCzRGeHI7V7VWdZAq1sEcbZB4lCFuaaXn4AZDZD
WA_PHONE_ID=558087924062176
WA_APP_SECRET=TU_APP_SECRET_DE_META_DEVELOPERS

# Webhook verify token (lo inventas tu, cualquier string)
VERIFY_TOKEN=carojo_verify_2026

# Claude API
CLAUDE_API_KEY=sk-ant-TU_API_KEY_AQUI

# Make.com webhook para CAPI pixel
MAKE_WEBHOOK_URL=https://hook.us2.make.com/nq7dbe4ta7c8he6c4fldv1t8s7y1wbti

# Google Apps Script para Drive
GAS_URL=https://script.google.com/macros/s/AKfycbxU9DiHNq-0iF3vah7-tIMfXDRlEspTnaqaHa5WtKVykHHuanLSvMq-V7i14DkEQvLc/exec

# Notificaciones (celular de Jorge con codigo de pais)
JORGE_PHONE=573058989359

# Panel admin - contrasena
ADMIN_PASSWORD=carojo2026admin

# Puerto (Render lo asigna automaticamente)
PORT=3000
